<div class="row">
  <div data-portal-region="upper" class="spotlightPost">
    <div data-th-each="component : ${upperRegion.components}" data-th-remove="tag">
      <div data-portal-component="${component.path}" data-th-remove="tag"></div>
    </div>
  </div>

  <div data-portal-region="bottom" class="allPosts" >
    <div data-th-each="component : ${bottomRegion.components}" data-th-remove="tag">
      <div data-portal-component="${component.path}" data-th-remove="tag" ></div>
    </div>
  </div>
</div>