<div class="row">
  
  <div data-portal-region="header" class="spotlightPost">
    <div data-th-each="component : ${headerRegion.components}" data-th-remove="tag">
      <div data-portal-component="${component.path}" data-th-remove="tag"></div>
    </div>
  </div>

  <div data-portal-region="body" class="spotlightPost">
    <div data-th-each="component : ${bodyRegion.components}" data-th-remove="tag">
      <div data-portal-component="${component.path}" data-th-remove="tag"></div>
    </div>
  </div>

  <div data-portal-region="footer" class="allPosts" >
    <div data-th-each="component : ${footerRegion.components}" data-th-remove="tag">
      <div data-portal-component="${component.path}" data-th-remove="tag" ></div>
    </div>
  </div>
</div>